.deals-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0;
}

.comments {
    &__content {
        position: relative;
    }
    &__time {
        position: absolute;
        top: 0;
        right: 0;
    }
}