<div class="container">
  <header class="jumbotron">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
      <ul *ngFor="let item of posts" class="card-container col mb-4">
        <li class="card">
          <div class="card-header font-italic h6">
            {{ getTimeFromNow(item.createdAt) }}
          </div>
          <div class="card-body p-2 pb-4">
            <h5 class="card-title">
              {{ item.title }}
            </h5>
            <p class="card-text">
              {{ item.content }}
            </p>
          </div>
          <div class="card-footer pl-2">
            <h6>Comments</h6>
            <div *ngFor="let comment of item.comments" class="comments">
              <div class="comments__box card p-1">
                <div class="comments__content">
                  <div>
                    <strong>
                      <p class="mb-2">
                        userId: {{comment.userId}}
                      </p>
                    </strong>
                    <small class="comments__time font-italic">
                      {{getTimeFromNow(comment.createdAt)}}
                    </small>
                  </div>
                  <p class="mb-0">
                    {{comment.comment}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</div>