.deals-item {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2b000adb;
    }
    &__title {
        margin-bottom: 0;
    }
    &__property {
        display: flex;
        justify-content: space-between;
        &-name {
            padding-right: 5px;
        }
        &-value {
            font-weight: 700;
        }
    }
}