<div class="container">
    <header class="pt-4">
      <div>
        <h2 class="mb-4 text-center">Task list</h2>
        <ul class="card-container row row-cols-1 row-cols-md-2 row-cols-xl-3 pl-0 list-unstyled">
          <li 
            class="col mb-4"
            *ngFor="let deal of deals; let i = index"
            (click)="setActiveDeal(deal, i)"
          >
            <div 
              class="deals-item card"
              [class.active]="i == currentIndex"
            >
              <div class="deals-item__header card-header text-white font-italic h6 p-2">
                  <h6 class="deals-item__title card-title">
                    {{ deal.title }}
                  </h6>
                  <div class="deals-item__property-box">
                      <div class="deals-item__property">
                        <span class="deals-item__property-name">
                          Status:
                        </span>
                        <span class="deals-item__property-value">
                          {{ deal.status }}
                        </span>
                      </div>
                      <div class="deals-item__property">
                        <span class="deals-item__property-name">
                          Prio:
                        </span>
                        <span class="deals-item__property-value">
                          {{ deal.priority }}
                        </span>
                    </div>
                  </div>
              </div>
              <div class="card-body p-2 pb-4">
                <p class="card-text">
                  {{ deal.content }}
                </p>
              </div>
              <button 
                class="btn btn-warning w-25 align-self-end m-2 p-1"
                routerLink="/tasks/{{ deal.id }}"
              >
                Edit
              </button>
            </div>
          </li>
        </ul>
      </div>
    </header>
</div>