 <select
    class="form-control"
    id="deals-status-select"
    name="status"
    [(ngModel)]="selectedStatus"
    (ngModelChange)="onChange($event)"
    #status="ngModel"
>
    <option value="" disabled selected hidden>Status filter</option>
   <option *ngFor="let status of statusList">{{status.value}}</option>
</select>
