﻿jw-modal {
    display: none;
    .jw-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto;

        .jw-modal-body {
            max-width: 400px;
            margin: 10vw auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
        }
    }
    .jw-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.75;
        z-index: 900;
    }
}
body.jw-modal-open {
    overflow: hidden;
}
