<div id="app" class="app">
  <nav class="navbar navbar-expand navbar-dark bg-danger">
    <a href="#" class="navbar-brand">Angular app</a>
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link text-white" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link text-white" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link text-white" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/tasks" class="nav-link text-white" *ngIf="isLoggedIn" routerLink="tasks">My tasks</a>
      </li>
    </ul>
    <div class="navbar__search input-group">
      <input
        [hidden]="!isLoggedIn"
        type="search"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="searchTaskTitle"
        id="deals-search-input"
      />
    </div>
    <app-status-filter class="mr-3" *ngIf="isLoggedIn"></app-status-filter>
    <button class="btn bg-brand text-white" *ngIf="isLoggedIn" (click)="openModal('create-task')">Create task</button>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link text-white" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link text-white" routerLink="login">Sign In</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link text-white" routerLink="profile">{{ name }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link text-white" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <jw-modal id='create-task'>
    <button class="btn btn-danger btn-block ml-auto w-25" (click)="closeModal('create-task');">Close</button>
    <h3 class="text-center">New task</h3>
    <app-create-task></app-create-task>
  </jw-modal>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>