.app {
    background-color: #113de814;
}

.bg-brand {
    background-color: #2b000adb;
}

.navbar {
    &__search {
        max-width: 250px;
        margin-right: 15px;
    }
    &-nav {
        margin-right: 15px;
    }
}
