.deal-detail {
    max-width: 400px;
    margin: 20px auto 0;
    padding: 5px;
    border-radius: 15px;
    background-color: #2b000adb;

    &__edit-form {
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
    }
}