<div class="deal-detail">
  <div *ngIf="currentDeal" class="deal-detail__edit-form">
    <h4 class="text-center">Task</h4>
    <form
      #f="ngForm"
    >
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentDeal.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentDeal.content"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select
          class="form-control"
          name="status"
          [(ngModel)]="currentDeal.status"
          required
          #status="ngModel"
        >
            <option selected disabled hidden>Select Status</option>
            <option *ngFor="let status of statusList">{{status}}</option>
        </select>
        <div *ngIf="status.errors && f.submitted" class="alert alert-danger">
            <div *ngIf="status.errors.required">Status is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="priority">Priority:</label>
        <select
          class="form-control"
          name="priority"
          [(ngModel)]="currentDeal.priority"
          required
          #priority="ngModel"
        >
            <option selected disabled hidden>Select Priority</option>
            <option *ngFor="let priority of priorityList">{{ priority }}</option>
        </select>
        <div *ngIf="priority.errors && f.submitted" class="alert alert-danger">
            <div *ngIf="priority.errors.required">Priority is required.</div>
        </div>
      </div>
    </form>

    <button
      type="submit"
      class="btn btn-success mr-2"
      (click)="updateDeal()"
    >
      Update
    </button>

    <button 
      class="btn btn-danger" 
      (click)="deleteDeal()"
    >
      Delete
    </button>

    <div class="alert alert-warning" *ngIf="isFailed">
      {{ errorMessage }}
    </div>
  </div>

  <div *ngIf="!currentDeal">
    <br />
    <p class="text-white text-center">Can't access this Deal...</p>
  </div>
</div>
