<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="p-5">
      <h3>
        Profile of <strong>{{ currentUser.name }}</strong>
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ accessToken.substring(0, 20) }} ...
      {{ accessToken.substr(accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>