<div class="col-md-12">
  <div class="card-container mt-4">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="form.title"
          required
          minlength="3"
          maxlength="20"
          #title="ngModel"
        />
        <div class="alert alert-danger" *ngIf="title.errors && f.submitted">
          <div *ngIf="title.errors.required">Title is required</div>
          <div *ngIf="title.errors.minlength">Title must be at least 3 characters</div>
          <div *ngIf="title.errors.maxlength">Title must be at most 20 characters</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="content">Description</label>
        <input
          type="text"
          class="form-control"
          name="content"
          [(ngModel)]="form.content"
          #content="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="status">Status:</label>
        <select
          class="form-control"
          name="status"
          [(ngModel)]="form.status"
          required
          #status="ngModel"
        >
            <option selected disabled hidden>Select Status</option>
            <option *ngFor="let status of statusList">{{status}}</option>
        </select>
        <div *ngIf="status.errors && f.submitted" class="alert alert-danger">
            <div *ngIf="status.errors.required">Status is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="priority">Priority:</label>
        <select
          class="form-control"
          name="priority"
          [(ngModel)]="form.priority"
          required
          #priority="ngModel"
        >
            <option selected disabled hidden>Select Priority</option>
            <option *ngFor="let priority of priorityList">{{ priority }}</option>
        </select>
        <div *ngIf="priority.errors && f.submitted" class="alert alert-danger">
            <div *ngIf="priority.errors.required">Priority is required.</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-success btn-block w-25 ml-auto">Create</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
        {{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      {{ successMessage }}
    </div>
  </div>
</div>